﻿/*
    file:            notify.css
    author(s):       mike kyffin
    build target:    notify.css
    
    Copyright (c) 2013-2014 Maps, Data and Government Information Center (MaDGIC) at Trent University
    http://www.trentu.ca/library/madgic/
    Now featuring super-verbose commenting for internal use!    
    */

.notify-stack {
	margin: 5px 20% 0 25%;
    position: absolute;
    bottom: 3px;
    left: 0;
    text-align: center;
    width: 50%;
    font-size: 12px;
    /*opacity: 0.9;
    filter: alpha(opacity=90);*/
    z-index: 39;
}

.notify-note {
	height: 20px;
	font-size: 14px;
	opacity: 0.9;
	margin: 2px 0 0 0;
}

/* components in the note */
.notify-icon {
	float: left;
}

.notify-icon img {
	margin-top: 2px;
	opacity: 1;
	float: left;
}

.notify-message {
	font-weight: bold;
}

.notify-close {
	cursor: pointer;
	float: right;
}

.notify-close img {
	margin-top: 2px;
	opacity: 0;
	float: right;
}

.notify-info {
	border: 1px solid #1A5799;
    color: #1A5799;
    background-color: #EAF2F9;
}

.notify-success {
	border: 1px solid #8FA350;
    color: #5F6C35;
    background-color: #E0E6CD;
}

.notify-error {
	border: 1px solid #BE3825;
    color: #B81900;
    background-color: #F1C0BA;
}

.notify-warning {
	border: 1px solid #D26D19;
    color: #8C4810;
    background-color: #F6D5B9;
}



