﻿/*
    file:            main.less
    author(s):       mike kyffin
    build target:    main.css
    
    Copyright (c) 2013-2014 Maps, Data and Government Information Center (MaDGIC) at Trent University
    http://www.trentu.ca/library/madgic/
    Now featuring super-verbose commenting for internal use!    
    */

@main-font: "Istok Web", Helvetica, sans-serif; /* frutiger-esque font via google web fonts*/
@main-font-base-size: 14px; /* base font size, in px. reference for em. */
@med-blue: #5F89AA; /* trent blue from trentu.ca/library border - the other blue is #4C748E */
@dark: #362B36; /* THUNDER!!! http://chir.ag/projects/name-that-color/#362B36 */
/*@light-grey: #F2F5F7;*/
@light-grey: #FEFEFE;
@dark-grey: #DDDDDD;
@dark-green: #004123; /* trent blue from trentu.ca/library border */
@noscript-text: #222222;
@error: #FF3333;
@jquery-ui-icons-med-blue: url("cupertino/images/ui-icons_5F89AA_256x240.png"); /* med-blue icons */
@jquery-ui-icons-light-grey: url("cupertino/images/ui-icons_FEFEFE_256x240.png"); /* light-grey icons */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}

.noscript div {
    color: @noscript-text;
    height: 100%;
    width: 600px;
    margin: 0 auto;
}

.display {
    display: none;
    height: 100%;
    width: 100%;
}

#map {
    padding: 0;
}

body {
    background-color: @dark-grey;
    /*font-family: Ubuntu, Helvetica, sans-serif;*/
    font-family: @main-font;
}

.init-spin {
    margin: 32px 0 0 0 ;         
}

.init-spin img {
    vertical-align: middle;    
}

.init-message {

}

#top {
    background-color: @med-blue;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.gradient-bg {   
   background-color: @light-grey; /* fallback/image non-cover color */   
   background-image: url();  /* fallback image */   
   background-image: -webkit-gradient(linear, 0% 0%, 0% 50%, from(@light-grey 50%), to(@med-blue)); /* Safari 4+, Chrome 1-9 */  
   background-image: -webkit-linear-gradient(left, @light-grey 50%, @med-blue); /* Safari 5.1+, Mobile Safari, Chrome 10+ */   
   background-image: -moz-linear-gradient(left, @light-grey 50%, @med-blue); /* Firefox 3.6+ */   
   background-image: -ms-linear-gradient(left, @light-grey 50%, @med-blue); /* IE 10+ */  
   background-image: -o-linear-gradient(left, @light-grey 50%, @med-blue);  /* Opera 11.10+ */  
   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=@light-grey, endColorstr=@med-blue);
}

#right {
    background-color: @light-grey;
}

#toggle {
    background-color: @med-blue;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 99;
    border-bottom-left-radius: 6px;
    padding-top: 6px;
    cursor: pointer;
}

#contentTitle {
    font-size: 14px;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid @med-blue;
    padding-bottom: 0;
}

#content {
    font-size: 12px;
    padding: 12px;
}

#layers {
    list-style-type: none;
    padding: 0;
    margin-left: 0
}

#spinner {
	width: 30px;
	height: 30px;
	line-height: 25px;
	background-color: @med-blue;
    border: 2px solid @dark;
    border-radius: 5px 5px 5px 5px;
    left: 20px;
    position: absolute;
    text-align: center;
    top: 89px;
    z-index: 39;
}

#spinner img {
    margin: 1px 0 0 0;
}

.menuClosed {
    width: 0;
    border-left: 0;
}

.menuOpen {
    width: 330px;
    border-left: 3px solid @med-blue;
}

.menu-header {
    font-size: 13px;
    font-weight: bold;
}

.menu-anchor {
    display: none;
    margin: 0;  
    background-color: @light-grey; 
}

.arrow-right {
    height: 0;
    width: 0;
    border-bottom: 5px solid transparent;
    border-left: 8px solid @light-grey;
    border-top: 5px solid transparent;
    margin-left: 6px;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 8px solid @light-grey;
    margin-left: 4px;
}

#links {
    cursor: pointer;
    float:left;
    width:200px;
}

.top-item {
    float: left;
    color: @light-grey;
    font-size: 15px;
    padding: 0 3px;    
    cursor: pointer;
    border-radius: 5px;
    line-height: 64px;
}

.top-item span {
    line-height: 12px;
    margin: 0 3px 0 3px; 
    border-radius: 5px; 
    padding: 2px 5px;
 }

.top-item-current {
    background-color: @light-grey;
    color: @dark;
    text-shadow: none;
    
}

.top-item span:hover {
    color: @dark;
    background-color: @dark-grey;
    text-shadow: none;
}

#searchClear, #downloadClear {
    float:right; 
    margin-bottom:6px;
    color:@med-blue;
    cursor:pointer;
    font-size:12px;
}

#tabButtons {
    font-size: 12px;
}

#downloads .ui-icon, #downloadClear .ui-icon {
    background-image: @jquery-ui-icons-med-blue;
}

/*tab stuff*/

.tab {
    float: left;
    background-color: @dark-grey;
    color: @med-blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid @med-blue;
    border-bottom: 1px solid @dark-grey;
    border-right: 1px solid @med-blue;
    border-left: 1px solid @med-blue;
    padding: 3px 9px 3px 9px;
    margin: 0 3px 0 0;
    cursor: pointer;
}

.tab-selected {
    background-color: @med-blue;
    color: @light-grey;
    border: 1px solid @med-blue;     
}

.menu-panel {
    border: 1px solid @med-blue;
    border-radius: 5px;
}

/*infoTemplate string styles */

.iw-text {
    font-size: 11px;
}
.iw-b {
    font-weight:bold
}
.iw-row:nth-child(2n+1) {
    background: @dark-grey;
}
.iw-title {
    font-weight:bold;
    font-size: 13px;
}
.iw-title-header {
    border-bottom: 1px solid @dark;
}

/* basemap styles */
.bm-wrapper, .lk-wrapper {
    font-size: 13px;
    padding: 5px;
}
.bm-selector, .lk-selector {
    cursor: pointer;
    opacity: 1;
    color: @dark;
    font-size: 13px;
    margin: 3px 0 3px 0;
}
.bm-selected {
    opacity: 0.50;
}
.bm-image, .lk-image {
    border-radius:5px;
    vertical-align:middle;
}
.bm-title, .lk-label {
    padding: 0 0 0 6px;
}

.lk-selector:hover {
    opacity: 0.50;
}

.lk-selector a {
    color: @dark;
    text-decoration: none;
}

/* .esriPopup customizations */
.esriPopup {

}

.esriPopup .titlePane {
    color: @light-grey;
    background-color: @med-blue;    
}
.esriPopup .contentPane {
    color: @dark;

}

.esriPopup .actionsPane {

}

/* other esri over-rides */

.esriSimpleSlider {
    background-color: @med-blue;
    border: 2px solid @dark;
    color: @light-grey;
}
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
    border-bottom: 2px solid @dark;
}

.esriSimpleSliderIncrementButton:hover, .esriSimpleSliderDecrementButton:hover {
    color: @med-blue;
    background-color: @light-grey;
}

/* message area stuff */ 

#msgArea {

}

/* air photo view stuff */ 

.view .ui-icon {
    background-image: @jquery-ui-icons-light-grey
}

.view {
    width: 100%;
    margin: 6px 0 6px 0;
}

.view-wrap {
    font-size: 14px;    
    color: @light-grey;     
    border-radius: 5px;  
}

.view-top {
    width: 100%;
    background: @med-blue;
    color: @light-grey;
    font-weight: 400;
    height: 24px;
    line-height: 24px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 1px solid @dark;
}

.view-load {
    display: inline-block;
    position: relative;
    width: 32px;        
}

.view-title {
    font-size: 24px;
    letter-spacing: 6px;
    display: inline-block;
    text-shadow: 0 2px 2px @dark;
}

.view-btns {
    display: inline-block;
    float: right
}

.view-btn {
    display: inline-block;
    float: right;
    margin: 4px 2px 0 0;
    cursor: pointer;
}
        
.view-bottom {
    background-color: @med-blue;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.view-content {
    display: inline-block;
    width: 75%;
}

.view-img {
    display: inline-block; 
    margin: 0px;
    padding: 0 0 0 2px;
}

.view-footprint {
     display: inline-block;
}

.view-footprint-zoom {
    background-color: @dark;
    display: inline-block;
}

.view-tile-list {
    list-style-type: none;
}

.view-footprint-text, .view-footprint-slider, .view-photos-slider {
    display: inline-block;
}

.view-opacity-slider {
    left: 12px;
    width: 80px;
    display: inline-block;
}

.tile-loader {
    display: inline-block;
    position: relative;
    width: 28px;
}
.tile-loader-image {
    display: none;
}

.tile-element {
    height: 28px;
    line-height: 28px;
    position:relative;
    display:none;
}

.tile-roundel {
    bottom: 9px;
    display: inline-block;
    margin: 0 1px 0 1px;
}

.tile-title {
    display: inline-block;
    font-size: 14px;
    height: 28px;
    width: 105px;
    margin: -14px 0 0 0;
    position: absolute;
    top: 50%;
}

.tile-download {
    display: inline-block;
    background: none repeat scroll 0 0 @light-grey;
    border-radius: 50px 50px 50px 50px;
    height: 28px;
    margin: 0 1px 0 1px;
    position: relative;
    width: 28px;
}

.tile-download .inner {
    background: none repeat scroll 0 0 @dark;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
    height: 20px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 20px;
    text-align: center;
}

.tile-download .dl {
    height: 20px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 20px;
}

.tile-meta {
    display: inline-block;
    background: none repeat scroll 0 0 @light-grey;
    border-radius: 50px 50px 50px 50px;
    height: 28px;
    margin: 0 1px 0 1px;
    position: relative;
    width: 28px;
}

.tile-meta .inner {
    background: none repeat scroll 0 0 @dark;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
    height: 20px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 20px;
    text-align: center;
}

.tile-meta .i {
    font-size: 15px;   
    position: relative;
    bottom: 4px;   
}

.meta {
    padding: 1px;
}

.meta-highlight {
    background-color: @dark-grey;
}


/*.downloadView {
    border-bottom: 1px solid @med-blue;
    border-bottom-right-radius: 5px;
    border-right: 1px solid @med-blue;
    color: @dark;
    font-size: 13px;
    margin: 12px;
    padding: 6px;
}*/

.download-view {        
    border-bottom: 1px solid @med-blue;
    border-right: 1px solid @med-blue;
    border-bottom-right-radius: 5px;
    padding: 0 6px 0 0; 
    margin: 12px;
    font-size: 13px;   
    color: @dark;
}

.download-view .download-view-icon {
    width:24px;
    display:table-cell;
    vertical-align:middle;
}

.download-view .download-view-text {
    display:table-cell;
}

/* jQuery dialog overrides */

.ui-dialog .ui-icon {
    background-image: @jquery-ui-icons-med-blue;
}

.ui-dialog {
    background-color: @light-grey;
    border: 1px solid @med-blue;
    color: @dark;
}

.ui-dialog .ui-dialog-titlebar {
    background: url();                                
    background-color: @med-blue;
    border: 1px solid @med-blue;
    color: @light-grey;
}

.ui-dialog .ui-dialog-content {
    font-size: 13px;
    background-color: @light-grey;
}

.ui-dialog .ui-state-default {
    background: url();
    background-color: @light-grey;
    border: none;
}

/* jQuery slider overrides */

.ui-slider {
  background: url();
    background-color: @dark;
    border: none;
    color: @dark;    
    top: 3px;
}

.ui-slider .ui-state-default {
    background: url();
    background-color: @light-grey;
    border: 1px solid @light-grey;
    color: @dark;      
}

/* jQuery tooltip overrides */

.ui-tooltip {
    color: @dark; 
    font-size: 12px; 
    padding: 3px;
}
